section #main_aside {
    position: relative;
}

section .notice {
    position: relative;
    min-width: 500px;
    height: 65px;
    padding-left: 145px;
    border-bottom: 1px #d7d7d7 solid;
    color: #353535;
    background: #f8f8f8;
}

section .notice_wrap {
    overflow: hidden;
    height: 65px;
    top: 22px;
}

section .notice h2 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    padding: 0 25px 0 36px;
    text-align: center;
    font-weight: bold;
    line-height: 65px;
    font-size: 18px;
    color: #d3292c;
}

section .notice h2 i {
    position: relative;
    top: 2px;
    margin-left: 8px;
    font-size: 23px;
}

section .notice_title {
    top: 22px;
    overflow: hidden;
    position: relative;
    height: 0px;
}

section .date_wrap {
    position: absolute;
    right: 0;
    top: 0 !important;
    display: table;
    height: 64px;
    background: #f8f8f8;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

section .date {
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
    font-size: 15px;
    color: #808081;
    cursor: pointer;
}

section .date em {
    color: #d3292c;
    margin-left: 5px;
    font-weight: bold;
}

section .main_portlet {
    padding: 15px 5px 38px 15px;
    position: relative;
}

section #portlet_main {
    /* 우측 사이드바
    padding-right: 204px;
    */
    margin-top: -5px;
}

section .main_menu>ul>li {
    position: relative;
    float: left;
    width: 490px;
    height: 256px;
    margin: 0 8px 8px 0;
    text-align: center;
    background: #fff;
	border: 1px #c4c4c4 solid;
    box-shadow: 0 1px 0 #bbb;
    border-radius: 10px;
}

/* section .main_menu>ul>li:hover {
	cursor: pointer;
	background: #eee;
	transition: 0.2s;
} */

section .main_menu>ul>li .menu_wrap {
	margin: 55px 0;
	width: 488px;
	background: rgba(255, 255, 255, 0.5);
    /* width: 110px; */
    /* border-radius: 5px; */
}

section .main_menu>ul>li .menu_wrap>div {
	margin: 0 auto;
	width: 110px;
}

section .main_menu>ul>li .menu_wrap:hover {
	cursor: pointer;
}

section .main_menu>ul>li h2 {
	width: 110px;
	height: 39px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

section .main_menu>ul .approval_bg {
	background-image: url('../images/01.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .board_bg {
	background-image: url('../images/02.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .planner_bg {
	background-image: url('../images/03.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .todo_bg {
	background-image: url('../images/04.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .message_bg {
	background-image: url('../images/05.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .organization_bg {
	background-image: url('../images/06.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .member_management_bg {
	background-image: url('../images/07.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .work_management_bg {
	background-image: url('../images/08.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .salary_management_bg {
	background-image: url('../images/09.png');
	background-size: cover;
	cursor: pointer;
}

section .main_menu>ul .approval_bg:hover {
	background-image: url('../images/01_hover.png');
}

section .main_menu>ul .board_bg:hover {
	background-image: url('../images/02_hover.png');
}

section .main_menu>ul .planner_bg:hover {
	background-image: url('../images/03_hover.png');
}

section .main_menu>ul .todo_bg:hover {
	background-image: url('../images/04_hover.png');
}

section .main_menu>ul .message_bg:hover {
	background-image: url('../images/05_hover.png');
}

section .main_menu>ul .organization_bg:hover {
	background-image: url('../images/06_hover.png');
}

section .main_menu>ul .member_management_bg:hover {
	background-image: url('../images/07_hover.png');
}

section .main_menu>ul .work_management_bg:hover {
	background-image: url('../images/08_hover.png');
}

section .main_menu>ul .salary_management_bg:hover {
	background-image: url('../images/09_hover.png');
}

/* 메인 아이콘 */
section .main_menu>ul>li .mail {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -110px;
}

section .main_menu>ul>li .approval {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -330px;
}

section .main_menu>ul>li .board {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -220px;
}

section .main_menu>ul>li .planner {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -440px;
}

section .main_menu>ul>li .todo {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -1432px;
}

section .main_menu>ul>li .message {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -550px;
}

section .main_menu>ul>li .contact {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -660px;
}

section .main_menu>ul>li .organization {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0 -550px;
}

section .main_menu>ul>li .note {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -769px;
}

section .main_menu>ul>li .poll {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -440px;
}

section .main_menu>ul>li .messenger {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -992px;
}

section .main_menu>ul>li .webdisk {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -112px -2309px;
}

section .main_menu>ul>li .member_management {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -4px -660px;
}

section .main_menu>ul>li .work_management {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: 0px -880px;
}

section .main_menu>ul>li .salary_management {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px 0;
}

section .main_menu>ul>li .ceo_report {
	width: 110px;
    height: 110px;
    background-image: url(../images/iconset_main.png);
    background-position: -110px -990px;
}