@charset "UTF-8";

.content .notice {
	padding: 20px;
    background: #f3f3f3;
    line-height: 30px;
    height: 100px;
    border-right: 10px solid #fff;
}

.content .createboard_btn {
	background: #555;
	height: 100px;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.content .boards_wrap {
	clear: both;
	margin-top: 10px;
	overflow-y: auto;
	height: 680px;
	/*
    border: 1px solid #ddd;
    border-radius: 10px;
     */
	/*
	border-radius: 10px;
	min-height: 250px;
    min-width: 300px;
    border: 1px solid #ddd;
     */
}

.content #create_board_result {
	margin-top: 10px;
	display: none;
}

.content .boards_trees {
	font-size: 14px;
	line-height: 24px;
}

.content .boards_trees li {
	padding: 10px 30px 10px 30px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 46px;
}

.content .boards_trees li .anon_status {
	float: right;
}

.content .boards_trees li:first-child {
	border-radius: 10px 10px 0 0;
	border-top: 1px solid #ddd;
}

.content .boards_trees li:last-child {
	border-radius: 0 0 10px 10px;
}

.content .boards_trees li .hover_view {
	margin-left: 30px;
	display: none;
}

.content .boards_trees li:hover .hover_view {
	display: inline-block;
}

.content .boards_trees li:hover {
	background: #fafafa;
}

.content .paging {
	text-align: center;
	/* width: 150px; */
	margin: 10px auto;
}

.content_result {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 30px 30px 10px 30px;
}

.content>h3	 {
	padding-left: 15px;
    color: #222;
    font-weight: 600;
    font-size: 14px;
    background: url(../images/sub_tit.gif) no-repeat 0 50%;
}

.content .content_result h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-weight: bold;
}

.content input[type="text"] {
	width: 400px;
}

.content input[type="submit"]:hover, .content input[type="button"]:hover, .content button:hover {
	opacity: .8;
}

.content input[type="submit"], .content input[type="button"], .content button {
	border-radius: 5px;
	border: none;
	font-size: 0.8em;
	color: #fff;
	padding: 5px;
}

.content .modify_btn {
	background: #d3292c;
}

.content .delete_btn {
	background: #555;
}

.content table {
	/* margin-top: 10px; */
	font-size: 14px;
	line-height: 24px;
}

.content .table_head thead th {
	border-right: 1px #e5e5e5 solid;
	border-top: 1px #c0c0c0 solid;
	border-bottom: 1px #c0c0c0 solid;
	background: #f5f5f5;
	padding: 5px 0;
}

.content .table_head thead th:last-child {
	border-right: none;
}

.content .table_head table, .content .table_body table {
	font-size: 14px;
	line-height: 24px;
}

.content .table_body {
	height: 680px;
	overflow-y: auto;
}

.content .table_body tbody tr:hover {
	background: #f9f9f9;
	transition: 0.1s;
}

.content .table_body tbody td {
	border-right: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
	padding: 5px 0;
	text-align: center;
}

.content .table_body tbody tr:last-child td {
	border-bottom: 1px #c0c0c0 solid;
}

.content .table_body tbody td:last-child {
	border-right: none;
}

.content .write_head {
	background: #f5f5f5;
	border-top: 2px #c0c0c0 solid;
	border-bottom: 1px #c0c0c0 solid;
}

.content .write_head ul {
	padding: 20px;
}

.content .write_head ul li {
	line-height: 36px;
}

.content .write_head ul li span b {
	font-size: 1.2em;
}

.content .write_head th, .content .write_head td {
    background: #f5f5f5;
}

.content .write_body {
	padding: 20px;
	line-height: 24px;
	min-height: 400px;
}

.content .comment {
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
	padding: 5px 20px;
}

.content .comment li {
	line-height: 36px;
}

.content .comment li input[type="text"] {
	padding: 10px;
	height: 48px;
}

.content .comment li input:focus {
	outline: 0;
}

.content .comment li .btnset {
	position: relative;
    right: 5px;
    top: 1.6px;
}

.content .comment li .btnset input[type="submit"] {
	width: 149px;
    height: 48px;
    border-radius: 0 3px 3px 0 !important;
}

.content .comment .cmt_list input[type="button"] {
	font-size: 0.7em;
}

.content .replycnt, .content .thisPage {
	padding: 3px 6px;
	font-size: 0.8em;
	background: #ff757f;
	color: #fff;
	border-radius: 5px;
	margin: 0 5px;
}

#cke_1_contents {
	height: 500px !important;
}

.content select {
	width: 90%;
}

.boardSettingSelect {
	width: 80px !important;
}

.content .cnt {
	padding: 3px 6px;
    font-size: 0.8em;
    background: #ff757f;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}

.content #info_result {
	width: 600px;
    height: 340px;
    background: #fff;
    box-shadow: 3px 3px 30px #aaa;
    position: absolute;
    top: 120px;
    left: 700px;
    z-index: 99;
    border-radius: 10px;
    display: none;
}