@charset "UTF-8";

.content .boards_left_wrap {
	background: #f5f5f5;
	border-radius: 5px 0 0 5px;
	min-height: 250px;
    min-width: 300px;
    padding: 20px;
}

.content .boards_trees {
	padding: 5px;
	font-size: 14px;
	line-height: 24px;
	padding-left: 18px;
}

.content .boards_trees li {
	list-style-type: disc;
}

.content .boards_left_wrap .paging {
	position: absolute;
    text-align: center;
    top: 340px;
    left: 460px;
}

.content .boards_right_wrap {
	background: #f5f5f5;
	border-radius: 0 5px 5px 0;
	min-height: 250px;
	border-left: 5px solid #fff;
}

.content table {
	font-size: 14px;
}

.content table col:nth-child(1) {
	width: 30px;
}

.content table col:nth-child(2) {
	width: 30px;
}