@charset "UTF-8";

.content input[type="submit"]:hover, .content input[type="button"]:hover, .content button:hover {
	opacity: .8;
}

.content input[type="submit"], .content input[type="reset"], .content input[type="button"], .content button {
	cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: -1px;
}

.content .search-wrap input[type="submit"], .content .search-wrap input[type="button"], .content .search-wrap button {
	font-size: 0.8 !important;
}

.content input[type="submit"] {
	background: #d3292c;
}

.content input[type="button"], .content input[type="reset"] {
	background: #555;
}

.content button {
	background: #555;
}

.content .table_head {
	margin-top: 10px;
	border-top: 2px #c0c0c0 solid;
}

.content .table_body {
	overflow-y: auto;
	height: 680px;
	border-bottom: 2px #c0c0c0 solid;
}

.content table {
	font-size: 14px;
	line-height: 24px;
}

.content th {
	background: #f5f5f5;
	padding: 5px 0;
}

.content thead th {
	border-right: 1px #e5e5e5 solid;
	border-bottom: 1px #c0c0c0 solid;
}

.content thead th:last-child {
	border-right: none;
}

.content .boldChild td {
	font-weight: bold;
	background: #fcfcfc;
}

.content td {
	padding: 5px 0;
	text-align: center;
}

.content tbody td {
	border-right: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
}

.content tbody tr:last-child td {
	border-bottom: 1px #c0c0c0 solid;
}

.content tbody td:last-child {
	border-right: none;
}

.content input[type="text"], .content select, .content textarea {
	width: 90%;
	border: none;
	background: #f7f7f7;
}

.content input[type="text"]:focus, .content select:focus {
	background: #eee;
}

.content .message_table {
	width: 800px;
	margin: 30px auto;
	height: 0px;
	border-top: 2px #c0c0c0 solid;
	border-bottom: 2px #c0c0c0 solid;
}

.content .message_table {
	font-size: 14px;
	line-height: 42px;
}

.content .message_table th {
	border-right: 1px #e5e5e5 solid !important;
	border-bottom: 1px #e5e5e5 solid !important;
	background: #f5f5f5 !important;
	padding: 5px 0 !important;
}

.content .message_table th:last-child {
	border-right: none !important;
}

.content .message_table td {
	border-right: 1px #e5e5e5 solid !important;
	border-bottom: 1px #e5e5e5 solid !important;
	padding: 5px !important;
	text-align: center !important;
}

.content .message_table td:last-child {
	border-right: none !important;
}

.content .message_table .left_align {
	text-align: left !important;
	padding: 0 20px !important;
}

.content .message_table input, .content .message_table select, .content .message_table textarea {
	width: 100% !important;
	border: none !important;
	background: #f7f7f7 !important;
	padding: 10px !important;
}

.content .message_table input:focus, .content .message_table select:focus {
	background: #eee !important;
	outline: none !important;
}

.content .paging {
	text-align: center;
	/* width: 150px; */
	margin: 10px auto;
}

.content .find_btn {
	background: #555;
    border: 1px solid #555;
    padding: 4px;
    position: relative;
    top: 0px;
}

.content .find_btn i {
	color: #fff;
}

.content .inner_tbl td {
	border: none !important;
	height: 24px !important;
}

.content .thisPage {
	padding: 3px 6px;
	font-size: 0.8em;
	background: #ff757f;
	color: #fff;
	border-radius: 5px;
	margin: 0 5px;
}