<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.D_DAO" >

	<insert id="insertBoards" parameterType="com.spring.gm.vo.BoardsVO">
		INSERT INTO BOARDS (num, groupId, b_name, anon, del) 
		VALUES(boards_seq.nextval, #{groupId}, #{b_name}, #{anon}, #{del}) 
	</insert>
	
	<select id="getBoardsArticleCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM BOARDS
	</select>
	
	<select id="getBoardsArticleList" parameterType="java.util.Map" resultType="com.spring.gm.vo.BoardsVO">
		<![CDATA[
			SELECT * FROM(SELECT num, groupId, b_name, anon, del, rownum rNum FROM (SELECT * FROM BOARDS WHERE groupId = #{groupId} ORDER BY num ASC)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>
	
	<update id="updateBoards" parameterType="com.spring.gm.vo.BoardsVO">
		UPDATE BOARDS b_name = #{b_name}, anon = #{anon}, groupId = #{groupId} WHERE num = #{num}
	</update>
	
	<update id="deleteBoards" parameterType="com.spring.gm.vo.BoardsVO">
		UPDATE BOARDS del = #{del} WHERE num = #{num}
	</update>
</mapper>