<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="com.spring.gm.persistence.E_DAO" >

	<!-- 자신과 동일한 회사에 소속된 사원 수 구하기 -->
	<select id="getMyCompanyMemCnt" resultType="int">
		SELECT count(*) FROM member where company = #{company}
	</select>

	<!-- company 컬럼과 입력받은 company값 비교( company = #{company} )해서 가져오기용 -->
	<select id="getMyCompanyInfo" parameterType="int" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member WHERE company = #{company}
	</select>

	<!-- group_rank = 1  : 1. 그룹정보,    del : 삭제판정값(0 : 안보이게) -->
	<select id="getMyCompanyGroupCnt" parameterType="int" resultType="com.spring.gm.vo.GroupsVO">
		SELECT * FROM groups WHERE company = #{company} AND group_rank = 1 AND del = 0
	</select>
	
	<select id="getMyCompanyInfo2" parameterType="java.util.Map" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member where company = #{company} AND depart = #{depart}
	</select>

	<select id="findCompanyName" parameterType="int" resultType="String">
		SELECT c_name from companies where company = #{company}
	</select>
	
<!-- 	<select id="getMemberList" parameterType="java.util.Map" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member where company = #{company} AND depart = #{depart}
	</select> -->

</mapper>