<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.K_DAO" >

	<select id="memberInfo" parameterType="String" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member WHERE id = #{id}
	</select>

	<select id="findCompany" resultType="com.spring.gm.vo.CompaniesVO">
		SELECT * FROM companies
	</select>
	
	<select id="searchCompany" parameterType="String" resultType="com.spring.gm.vo.CompaniesVO">
		SELECT * FROM companies WHERE c_name like '%'||#{keyword}||'%'
	</select>

	<insert id="registAccount" parameterType="com.spring.gm.vo.MemberVO">
		INSERT INTO member (id, pwd, name, eng_name, jumin1, jumin2, gender, marry, wdday, frgn, nation, tel, tel_hm, email_in, address, eng_address, depart, enterday, year, sys_rank, del, company)
		VALUES (#{id}, #{pwd}, #{name}, #{eng_name}, #{jumin1}, #{jumin2}, 
		#{gender}, #{marry}, #{wdday, jdbcType=DATE}, #{frgn}, #{nation, jdbcType=VARCHAR}, #{tel}, #{tel_hm, jdbcType=VARCHAR}, 
		#{email_in}, #{address}, #{eng_address, jdbcType=VARCHAR}, #{depart}, #{enterday}, 
		#{year}, #{sys_rank}, #{del}, #{company})
	</insert>
	
	<insert id="registUsers" parameterType="java.util.Map">
		INSERT INTO users (username, password, enabled)
		VALUES (#{id}, #{pwd}, 1)
	</insert>
	
	<insert id="registAuthorities" parameterType="java.util.Map">
		INSERT INTO authorities (username, authority)
		VALUES (#{id}, #{auth})
	</insert>

	<select id="getWait" parameterType="int" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member WHERE depart=#{company} AND sys_rank = 0 
	</select>
	
	<select id="getCompany" parameterType="int" resultType="int">
		SELECT company FROM groups WHERE groupsId = #{depart}
	</select>
	
	<update id="updateSysrank" parameterType="java.util.Map">
		UPDATE member set sys_rank = #{rank} WHERE id = #{id}
	</update>
	
	<update id="updateAuthorities" parameterType="java.util.Map">
		UPDATE authorities set authority = #{auth} WHERE username = #{id}
	</update>
	
	<select id="getMembers" parameterType="int" resultType="com.spring.gm.vo.MemberVO">
		SELECT * FROM member WHERE company=#{company}
	</select>
	
</mapper>