<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.O_DAO" >

<!-- 일정 -->
<!-- 게시글 갯수조회 -->
<select id="getCalendarCnt" resultType="int">
	select count(*) from schedule
</select>

<!-- 게시글 목록 조회 -->
<select id="getCalendarList" resultType="com.spring.gm.vo.ScheduleVO" parameterType="java.util.Map">
	<![CDATA[
		select * from(select begin, scheduleKind, subject, num, rownum rNum from schedule)
        where rNum >= #{start} and rNum <= #{end}
	]]> 
</select>

<!-- 일정 시작 -->
<!-- 일정 -->
<select id="selectCalendar" resultType="com.spring.gm.vo.ScheduleVO" parameterType="String" >
	select id, num, scheduleKind, subject, location, content, begin, end from schedule where id=#{id} and del=0
</select>

<!-- 일정등록 pro -->
<insert id="insertCalendar" parameterType="com.spring.gm.vo.ScheduleVO">
	insert into schedule 
	values(seq_schedule.nextval, #{id}, 0, 0, #{scheduleKind}, #{subject}, #{location}, #{content}, #{begin}, #{end}, 0, 0)
</insert>

<!-- 일정 상세 수정화면 -->
<select id="modifyBeforeCalendar" resultType="com.spring.gm.vo.ScheduleVO" parameterType="java.util.Map">
	select * from schedule where id = #{id} and num = #{num} and del=0
</select>

<!-- 일정 수정 -->
<update id="updateCalendar" parameterType="com.spring.gm.vo.ScheduleVO">
	update schedule set schedulekind=#{scheduleKind}, subject=#{subject}, location=#{location}, content=#{content}, begin=#{begin}, end=#{end} where num=#{num} and del=0
</update>

<!-- 일정 삭제 -->
<update id="deleteCalendar">
	update schedule set del=1 where num=#{num}
</update>

<!-- 일정 메인 화면 view -->
<select id="calendarMainCnt" resultType="int" parameterType="String">
	select count(*) from schedule where id=#{id} AND extract(year from begin) = extract(year from sysdate)
	AND extract(month from begin) = extract(month from sysdate)
	AND extract(day from begin) = extract(day from sysdate)
</select>
<select id="calendarMainView" resultType="com.spring.gm.vo.ScheduleVO" parameterType="String">
	select * from schedule where id=#{id} AND extract(year from begin) = extract(year from sysdate)
	AND extract(month from begin) = extract(month from sysdate)
	AND extract(day from begin) = extract(day from sysdate)
</select>
<!-- 일정 끝 -->



<!-- 업무 시작 -->
<!-- 업무 insert-pro -->
<insert id="insertTodo" parameterType="com.spring.gm.vo.B_ManageVO">
	insert into b_manage values(seq_b_manage.nextval, #{id}, #{groupId}, #{b_name}, #{subject}, #{content}, #{begin}, #{end}, #{reg_date}, #{state}, 0 , null)
</insert>
<!-- 업무 insert-pro -->
<insert id="insertTodoInfo" parameterType="com.spring.gm.vo.B_ManageInfoVO">
	insert into b_manageinfo values(seq_b_manageinfo.nextval, seq_b_manage.currval, #{id}, 0, #{content}, null, 0)
</insert>

<!-- 내가 한 업무요청 게시글 갯수 조회  -->
<select id="getOrderCnt" resultType="int" parameterType="java.util.Map">
	select count(*) from
			(select b.b_name, b.todonum, b.subject, b.begin, b.end, b.state from
				(select * from b_manage where id=#{id} and del=0) b, member m
					where m.id=b.id	)
		<if test="searchUserName != null">
	    	AND b_name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND end <= #{searchEndDate}
	    	]]>
	    </if>
</select>

<!-- 내가 한 업무요청 게시글 목록 조회  -->
<select id="getOrderList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="java.util.Map">
	<![CDATA[
		select a.*, rownum from
			(select b.b_name, b.todonum, b.subject, b.begin, b.end, b.state from
				(select * from b_manage where id=#{id} and del=0) b, member m
					where m.id=b.id		
	]]> 
		<if test="searchUserName != null">
	    	AND b_name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND end <= #{searchEndDate}
	    	]]>
	    </if>
	<![CDATA[
		order by todonum desc)a
		where rownum >= #{start} and rownum <= #{end}
	]]> 
</select>

<!-- 내가 한 업무요청 상세조회 -->
<select id="readOrderList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="int">
	select g.r_name, m.name, b.subject, b.groupId, b.state, b.begin, b.end, b.reg_date, b.reg_date2, b.b_name, b.content 
	from b_manage b, member m, grade g 
	where m.id=b.id and m.rank=g.rank and b.todonum=#{todonum} and b.del=0
</select>
<select id="readOrderListInfo" resultType="com.spring.gm.vo.B_ManageInfoVO" parameterType="int">
	select i.id, i.content, i.reg_date, i.donum, b.b_name, b.state
	from b_manage b, b_manageinfo i
	where b.todonum=i.todonum and b.todonum=#{todonum} and b.del=0
</select>

<!-- 업무관리 업무요청 수정 화면 -->
<select id="udpateTaskView" resultType="com.spring.gm.vo.B_ManageVO" parameterType="int">
	select subject, begin, end, b_name, content from b_manage where todonum=#{todonum}
</select>

<!-- 업무관리 업무요청 수정 pro -->
<update id="updateTaskPro" parameterType="com.spring.gm.vo.B_ManageVO">
	update b_manage set b_name=#{b_name}, subject=#{subject}, content=#{content}, begin=#{begin}, end=#{end}, reg_date2=#{reg_date2}, state=#{state}, id=#{id} where todonum=#{todonum}
</update>

<!-- 업무관리 업무요청 삭제 pro -->
<update id="deleteTaskPro">
	update b_manage set del=1 where todonum=#{todonum}
</update>

<!-- 수신업무요청 페이지넘 -->
<select id="reciveListCnt" resultType="int">
	select count(*) from b_manage b, b_manageinfo i, member m
	where b.todonum = i.todonum and b.id=m.id
	and b.id != #{id}
	and i.id = #{id}
	and b.del=0
	<if test="searchUserName != null">
	    	AND m.name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND b.subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND b.content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND b.begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND b.end <= #{searchEndDate}
	    	]]>
	    </if>
</select>
<select id="reciveList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="java.util.Map">
	<![CDATA[
		select a.*,  rownum  from
        (select i.donum, b.todonum, b.b_name, i.id, b.subject, b.begin, b.end, b.state, m.name
	                from(select * from b_manageinfo where id=#{id} and del=0) i, member m, b_manage b
	                        where m.id=b.id and b.todonum=i.todonum and b.del=0
	]]> 
		<if test="searchUserName != null">
	    	AND m.name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND b.subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND b.content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND b.begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND b.end <= #{searchEndDate}
	    	]]>
	    </if>
	<![CDATA[
		order by todonum desc)a
		where rownum >= #{start} and rownum <= #{end}
	]]> 
</select>

<!-- 업무요청 - 수신 업무 요청 상세 조회 처리 - pro -->
<update id="updateRecive" parameterType="com.spring.gm.vo.B_ManageVO">
	update b_manage set state=#{state} where todonum=#{todonum}
</update>
<update id="updateRecivePro" parameterType="com.spring.gm.vo.B_ManageInfoVO">
	update b_manageinfo set content=#{content, jdbcType=VARCHAR}, reg_date=#{reg_date} where donum=#{donum}
</update>

<!-- 업무요청 - 업무 완료함 화면 페이지넘 -->
<select id="completeListCnt" resultType="int" parameterType="java.util.Map">
	select count(*) from
        (select b_name, subject, begin, end, state
                from(select * from b_manage where id=#{id} and state=#{state} and del=0))
	<if test="searchUserName != null">
	    	AND b_name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND end <= #{searchEndDate}
	    	]]>
	    </if>
</select>
<select id="completeList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="java.util.Map">
	<![CDATA[
		select a.* , rownum from
        (select b_name, subject, begin, end, state
                from(select * from b_manage where id=#{id} and state=#{state} and del=0
		]]> 
		<if test="searchUserName != null">
	    	AND b_name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND end <= #{searchEndDate}
	    	]]>
	    </if>
	<![CDATA[
		order by todonum desc)) a
		where rownum >= #{start} and rownum <= #{end}
	]]> 
</select>

<!-- 관리자 메뉴 - 업무 문서 관리 -->
<select id="adminListCnt" resultType="int" parameterType="java.util.Map">
	select count(*) from b_manage b, member m where b.id=m.id
	<if test="searchUserName != null">
	    	AND m.name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND b.subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND b.content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND b.begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND b.end <= #{searchEndDate}
	    	]]>
	    </if>
</select>
<select id="adminList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="java.util.Map">
	<![CDATA[
		select a.* , rownum from
		    (select m.name, m.id,b.subject, b.begin, b.end, b.state, b.groupId, b.todonum from
		        b_manage b, member m where b.id=m.id
		]]> 
		<if test="searchUserName != null">
	    	AND m.name like '%'||#{searchUserName}||'%'
	    </if>
	    <if test="searchApprTitle != null">
	    	<if test="toggleSearchType == 'subject'">
	    		AND b.subject like '%'||#{searchApprTitle}||'%'
	    	</if>
	    	<if test="toggleSearchType == 'content'">
	    		AND b.content like '%'||#{searchApprTitle}||'%'
	    	</if>
	    </if>
	    <if test="searchStartDate != null">
	    	<![CDATA[
	    		AND b.begin >= #{searchStartDate}
	    	]]>
	    </if>
	    <if test="searchEndDate != null">
	    	<![CDATA[
	    		AND b.end <= #{searchEndDate}
	    	]]>
	    </if>
	<![CDATA[
		order by todonum desc ) a
		where rownum >= #{start} and rownum <= #{end}
	]]> 
</select>

<!-- TO-DO - 나의 할일 화면 및 등록  -->
<insert id="insertTodoPro" parameterType="com.spring.gm.vo.TodoListVO">
	insert into todolist values(seq_todolist.nextval, #{id}, #{content}, 0)
</insert>

<!-- TO-DO - 나의할일 등록한 뒤나오는 화면 -->
<select id="selectTodo" resultType="com.spring.gm.vo.TodoListVO" parameterType="String">
	select * from todolist where id=#{id} and del=0
</select>
<!-- 업무 끝 -->

</mapper>