<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.O_DAO" >

<!-- 일정 -->
<!-- 게시글 갯수조회 -->
<select id="getCalendarCnt" resultType="int">
	select count(*) from schedule
</select>

<!-- 게시글 목록 조회 -->
<select id="getCalendarList" resultType="com.spring.gm.vo.ScheduleVO" parameterType="java.util.Map">
	<![CDATA[
		select * from(select begin, scheduleKind, subject, num, rownum rNum from schedule)
        where rNum >= #{start} and rNum <= #{end}
	]]> 
</select>

<!-- 일정 시작 -->
<!-- 일정 -->
<select id="selectCalendar" resultType="com.spring.gm.vo.ScheduleVO" parameterType="String" >
	select id, num, scheduleKind, subject, location, content, begin, end from schedule where id=#{id} and del=0
</select>

<!-- 일정등록 pro -->
<insert id="insertCalendar" parameterType="com.spring.gm.vo.ScheduleVO">
	insert into schedule 
	values(seq_schedule.nextval, #{id}, 0, 0, #{scheduleKind}, #{subject}, #{location}, #{content}, #{begin}, #{end}, 0, 0)
</insert>

<!-- 일정 상세 수정화면 -->
<select id="modifyBeforeCalendar" resultType="com.spring.gm.vo.ScheduleVO" parameterType="java.util.Map">
	select * from schedule where id = #{id} and num = #{num} and del=0
</select>

<!-- 일정 수정 -->
<update id="updateCalendar" parameterType="com.spring.gm.vo.ScheduleVO">
	update schedule set schedulekind=#{scheduleKind}, subject=#{subject}, location=#{location}, content=#{content}, begin=#{begin}, end=#{end} where num=#{num} and del=0
</update>

<!-- 일정 삭제 -->
<update id="deleteCalendar">
	update schedule set del=1 where num=#{num}
</update>
<!-- 일정 끝 -->



<!-- 업무 시작 -->
<!-- 업무 insert-pro -->
<insert id="insertTodo" parameterType="com.spring.gm.vo.B_ManageVO">
	insert into b_manage values(seq_b_manage.nextval, #{id}, #{groupId}, #{name}, #{subject}, #{content}, #{begin}, #{end}, #{reg_date}, #{state}, 0)
</insert>

<!-- 내가 한 업무요청 게시글 갯수 조회  -->
<select id="getOrderCnt" resultType="int" parameterType="String">
	select count(*) from b_manage where id=#{id} and del=0
</select>

<!-- 내가 한 업무요청 게시글 목록 조회  -->
<select id="getOrderList" resultType="com.spring.gm.vo.B_ManageVO" parameterType="java.util.Map">
	<![CDATA[
		select * from
			(select g.r_name, m.name, b.todonum, b.subject, b.begin, b.end, b.state, rownum rNum from
				(select * from b_manage where id=#{id} and del=0) b, member m, grade g 
					where m.id=b.id and m.rank=g.rank)		
		where rNum >= #{start} and rNum <= #{end}
		order by rNum desc
	]]> 
</select>

<!-- 업무 끝 -->

</mapper>