<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.P_DAO" >
	<select id="createAppDocForm" resultType="com.spring.gm.vo.Join_payVO" parameterType="String">
		select m.name, r.r_name, g.g_name from member m , grade r, groups g
		where m.rank = r.rank
		and m.depart = g.groupid
		and m.id=#{id}
	</select>
	<!-- 전자결재 - 기안문 생성 - 회사조인 -->
	<select id="createAppDocForm2" resultType="com.spring.gm.vo.Join_payVO" parameterType="String">
		select m.name, g.r_name, c.c_name as g_name from member m , grade g, companies c
		where m.rank = g.rank
		and m.depart = c.company
		and m.id=#{id}
	</select>
	<!-- 전자결재 - 기안문 - 결재선 select 조인 -->
	<select id="selectApprLine" resultType="com.spring.gm.vo.Join_payVO2">
		select m.name, m.id, g.g_name, c.c_name, r.r_name
		from member m left join groups g on m.depart = g.groupid
		join companies c on m.company = c.company
		left join grade r on m.rank = r.rank
		where m.del=0
		AND m.company=#{company}
	</select>
	
	<select id="getApprline" resultType="com.spring.gm.vo.Join_payVO2">
		select m.name, m.id, g.g_name, c.c_name, r.r_name
		from member m left join groups g on m.depart = g.groupid
		join companies c on m.company = c.company
		left join grade r on m.rank = r.rank
		where m.del=0
		AND m.id=#{id}
	</select>
	
	<!-- 전자결재 - 기안문 - 결재선  회사에 그룹등급이 1인 부서명-->
	<select id="getGroupName" resultType="String">
		select g_name from groups where company=#{company} and group_rank=1 and del=0
	</select>
	
	<insert id="insertGroupPayment" parameterType="int">
		INSERT INTO groups VALUES(seq_groups.nextval, #{company}, null, 2, 0)
	</insert>
	
	<select id="getSeqGroups" resultType="int">
		SELECT MAX(groupId) FROM groups WHERE group_rank = 2
	</select>
	
	<insert id="insertPayment" parameterType="java.util.Map">
		INSERT INTO payment VALUES
			(seq_payment.nextval, #{id}, #{groupid}, #{name}, #{subject}, #{content}, '결재진행중', sysdate, sysdate+15, 0)
	</insert>
	
	<select id="getPaymentNum" resultType="int">
		SELECT num FROM payment WHERE groupid = #{groupid} AND del = 0
	</select>
	
	<insert id="insertGroupinfoPayment" parameterType="java.util.Map">
		INSERT INTO groupinfo VALUES(#{groupid}, #{id}, #{order}, 0)
	</insert>
	
	<insert id="insertPaymentInfo" parameterType="java.util.Map">
		INSERT INTO paymentinfo VALUES(seq_paymentinfo.nextval, #{num}, #{id},
			#{result}, #{order}, sysdate, null, #{refer}, #{agree})
	</insert>
	
	<select id="getPaymentCnt" parameterType="java.util.Map" resultType="int">
		 SELECT COUNT(*) FROM payment p, paymentinfo o
		    WHERE p.num = o.num
		    AND o.id = #{id}
		    AND p.id != #{id}
		    AND o.agree = #{agree}
		    AND p.del = 0
		    AND p.state like '%'||#{state}||'%'
		    <if test="searchUserName != null">
		    	AND p.name like '%'||#{searchUserName}||'%'
		    </if>
		    <if test="searchApprTitle != null">
		    	<if test="toggleSearchType == 'subject'">
		    		AND p.subject like '%'||#{searchApprTitle}||'%'
		    	</if>
		    	<if test="toggleSearchType == 'content'">
		    		AND p.content like '%'||#{searchApprTitle}||'%'
		    	</if>
		    </if>
		    <if test="searchStartDate != null">
		    	<![CDATA[
		    		AND p.deadline >= #{searchStartDate}
		    	]]>
		    </if>
		    <if test="searchEndDate != null">
		    	<![CDATA[
		    		AND p.reg_date <= #{searchEndDate}
		    	]]>
		    </if>
	</select>
	
	<select id="getPaymentList" parameterType="java.util.Map" resultType="com.spring.gm.vo.PaymentVO">
		<![CDATA[
		SELECT * FROM (SELECT p.*, rowNum rNum FROM payment p, paymentinfo o
			    WHERE p.num = o.num
			    AND o.id = #{id}
			    AND p.id != #{id}
			    AND o.agree = #{agree}
			    AND p.del = 0
			    AND p.state like '%'||#{state}||'%'
		]]>
			<if test="searchUserName != null">
		    	AND p.name like '%'||#{searchUserName}||'%'
		    </if>
		    <if test="searchApprTitle != null">
		    	<if test="toggleSearchType == 'subject'">
		    		AND p.subject like '%'||#{searchApprTitle}||'%'
		    	</if>
		    	<if test="toggleSearchType == 'content'">
		    		AND p.content like '%'||#{searchApprTitle}||'%'
		    	</if>
		    </if>
		    <if test="searchStartDate != null">
		    	<![CDATA[
		    		AND p.deadline >= #{searchStartDate}
		    	]]>
		    </if>
		    <if test="searchEndDate != null">
		    	<![CDATA[
		    		AND p.reg_date <= #{searchEndDate}
		    	]]>
		    </if>
		<![CDATA[
			    ORDER BY p.reg_date DESC)
		    WHERE rNum >= #{start} AND rNum <= #{end}
		 ]]>
	</select>
	
	<select id="getPaymentCnt2" resultType="int">
		 SELECT COUNT(*) FROM payment p, paymentinfo o
		    WHERE p.num = o.num
		    AND o.id = #{id}
		    AND p.del = 0
		    AND p.state like '%'||#{state}||'%'
		    <if test="searchUserName != null">
		    	AND p.name like '%'||#{searchUserName}||'%'
		    </if>
		    <if test="searchApprTitle != null">
		    	<if test="toggleSearchType == 'subject'">
		    		AND p.subject like '%'||#{searchApprTitle}||'%'
		    	</if>
		    	<if test="toggleSearchType == 'content'">
		    		AND p.content like '%'||#{searchApprTitle}||'%'
		    	</if>
		    </if>
		    <if test="searchStartDate != null">
		    	<![CDATA[
		    		AND p.deadline >= #{searchStartDate}
		    	]]>
		    </if>
		    <if test="searchEndDate != null">
		    	<![CDATA[
		    		AND p.reg_date <= #{searchEndDate}
		    	]]>
		    </if>
	</select>
	
	<select id="getPaymentList2" parameterType="java.util.Map" resultType="com.spring.gm.vo.PaymentVO">
		<![CDATA[
		SELECT * FROM (SELECT p.*, rowNum rNum FROM payment p, paymentinfo o
			    WHERE p.num = o.num
			    AND o.id = #{id}
			    AND p.state like '%'||#{state}||'%'
			    AND p.del = 0
		]]>
				<if test="searchUserName != null">
			    	AND p.name like '%'||#{searchUserName}||'%'
			    </if>
			    <if test="searchApprTitle != null">
			    	<if test="toggleSearchType == 'subject'">
			    		AND p.subject like '%'||#{searchApprTitle}||'%'
			    	</if>
			    	<if test="toggleSearchType == 'content'">
			    		AND p.content like '%'||#{searchApprTitle}||'%'
			    	</if>
			    </if>
			    <if test="searchStartDate != null">
			    	<![CDATA[
			    		AND p.deadline >= #{searchStartDate}
			    	]]>
			    </if>
			    <if test="searchEndDate != null">
			    	<![CDATA[
			    		AND p.reg_date <= #{searchEndDate}
			    	]]>
			    </if>
		<![CDATA[
			    ORDER BY p.reg_date DESC)
		    WHERE rNum >= #{start} AND rNum <= #{end}
		 ]]>
	</select>
	
	<select id="getPaymentCnt3" resultType="int">
		 SELECT COUNT(*) FROM payment p, paymentinfo o
		    WHERE p.num = o.num
		    AND o.id = #{id}
		    AND p.id != #{id}
		    AND p.state like '%'||#{state}||'%'
		    AND p.del = 0
		    AND o.refer = #{refer}
		    <if test="searchUserName != null">
		    	AND p.name like '%'||#{searchUserName}||'%'
		    </if>
		    <if test="searchApprTitle != null">
		    	<if test="toggleSearchType == 'subject'">
		    		AND p.subject like '%'||#{searchApprTitle}||'%'
		    	</if>
		    	<if test="toggleSearchType == 'content'">
		    		AND p.content like '%'||#{searchApprTitle}||'%'
		    	</if>
		    </if>
		    <if test="searchStartDate != null">
		    	<![CDATA[
		    		AND p.deadline >= #{searchStartDate}
		    	]]>
		    </if>
		    <if test="searchEndDate != null">
		    	<![CDATA[
		    		AND p.reg_date <= #{searchEndDate}
		    	]]>
		    </if>
	</select>
	
	<select id="getPaymentList3" parameterType="java.util.Map" resultType="com.spring.gm.vo.PaymentVO">
		<![CDATA[
			SELECT * FROM (SELECT p.*, rowNum rNum FROM payment p, paymentinfo o
			    WHERE p.num = o.num
			    AND o.id = #{id}
			    AND p.id != #{id}
			    AND p.state like '%'||#{state}||'%'
			    AND p.del = 0
			    AND o.refer = #{refer}
		]]>
				<if test="searchUserName != null">
			    	AND p.name like '%'||#{searchUserName}||'%'
			    </if>
			    <if test="searchApprTitle != null">
			    	<if test="toggleSearchType == 'subject'">
			    		AND p.subject like '%'||#{searchApprTitle}||'%'
			    	</if>
			    	<if test="toggleSearchType == 'content'">
			    		AND p.content like '%'||#{searchApprTitle}||'%'
			    	</if>
			    </if>
			    <if test="searchStartDate != null">
			    	<![CDATA[
			    		AND p.deadline >= #{searchStartDate}
			    	]]>
			    </if>
			    <if test="searchEndDate != null">
			    	<![CDATA[
			    		AND p.reg_date <= #{searchEndDate}
			    	]]>
			    </if>
		<![CDATA[
			    ORDER BY p.reg_date DESC)
		    WHERE rNum >= #{start} AND rNum <= #{end}
		 ]]>
	</select>
	
	<select id="getPaymentCnt4" resultType="int">
		 SELECT COUNT(*) FROM payment p
		    WHERE p.id =#{id}
		    AND p.del = 0
		    AND p.state like '%'||#{state}||'%'
		    <if test="searchUserName != null">
		    	AND p.name like '%'||#{searchUserName}||'%'
		    </if>
		    <if test="searchApprTitle != null">
		    	<if test="toggleSearchType == 'subject'">
		    		AND p.subject like '%'||#{searchApprTitle}||'%'
		    	</if>
		    	<if test="toggleSearchType == 'content'">
		    		AND p.content like '%'||#{searchApprTitle}||'%'
		    	</if>
		    </if>
		    <if test="searchStartDate != null">
		    	<![CDATA[
		    		AND p.deadline >= #{searchStartDate}
		    	]]>
		    </if>
		    <if test="searchEndDate != null">
		    	<![CDATA[
		    		AND p.reg_date <= #{searchEndDate}
		    	]]>
		    </if>
	</select>
	
	<select id="getPaymentList4" parameterType="java.util.Map" resultType="com.spring.gm.vo.PaymentVO">
		<![CDATA[
			SELECT * FROM (SELECT p.*, rowNum rNum FROM payment p
			    WHERE p.id =#{id}
			    AND p.state like '%'||#{state}||'%'
			    AND p.del = 0
		]]>
				<if test="searchUserName != null">
			    	AND p.name like '%'||#{searchUserName}||'%'
			    </if>
			    <if test="searchApprTitle != null">
			    	<if test="toggleSearchType == 'subject'">
			    		AND p.subject like '%'||#{searchApprTitle}||'%'
			    	</if>
			    	<if test="toggleSearchType == 'content'">
			    		AND p.content like '%'||#{searchApprTitle}||'%'
			    	</if>
			    </if>
			    <if test="searchStartDate != null">
			    	<![CDATA[
			    		AND p.deadline >= #{searchStartDate}
			    	]]>
			    </if>
			    <if test="searchEndDate != null">
			    	<![CDATA[
			    		AND p.reg_date <= #{searchEndDate}
			    	]]>
			    </if>
		<![CDATA[
			    ORDER BY p.reg_date DESC)
		    WHERE rNum >= #{start} AND rNum <= #{end}
		 ]]>
	</select>
	
	<select id="getPaymentCnt5" resultType="int">
		SELECT COUNT(*) FROM payment p, groups g
			    WHERE p.groupid = g.groupid
                AND g.company = #{company}
                AND p.del = #{retire}
			    <if test="searchUserName != null">
			    	AND p.name like '%'||#{searchUserName}||'%'
			    </if>
			    <if test="searchApprTitle != null">
			    	<if test="toggleSearchType == 'subject'">
			    		AND p.subject like '%'||#{searchApprTitle}||'%'
			    	</if>
			    	<if test="toggleSearchType == 'content'">
			    		AND p.content like '%'||#{searchApprTitle}||'%'
			    	</if>
			    </if>
			    <if test="searchStartDate != null">
			    	<![CDATA[
			    		AND p.deadline >= #{searchStartDate}
			    	]]>
			    </if>
			    <if test="searchEndDate != null">
			    	<![CDATA[
			    		AND p.reg_date <= #{searchEndDate}
			    	]]>
			    </if>
	</select>
	
	<select id="getPaymentList5" parameterType="java.util.Map" resultType="com.spring.gm.vo.PaymentVO">
		<![CDATA[
			SELECT * FROM (SELECT p.*, rowNum rNum FROM payment p, groups g
			    WHERE p.groupid = g.groupid
                AND g.company = #{company}
                AND p.del = #{retire}
		]]>
				<if test="searchUserName != null">
			    	AND p.name like '%'||#{searchUserName}||'%'
			    </if>
			    <if test="searchApprTitle != null">
			    	<if test="toggleSearchType == 'subject'">
			    		AND p.subject like '%'||#{searchApprTitle}||'%'
			    	</if>
			    	<if test="toggleSearchType == 'content'">
			    		AND p.content like '%'||#{searchApprTitle}||'%'
			    	</if>
			    </if>
			    <if test="searchStartDate != null">
			    	<![CDATA[
			    		AND p.deadline >= #{searchStartDate}
			    	]]>
			    </if>
			    <if test="searchEndDate != null">
			    	<![CDATA[
			    		AND p.reg_date <= #{searchEndDate}
			    	]]>
			    </if>
		<![CDATA[
			    ORDER BY p.reg_date DESC)
		    WHERE rNum >= #{start} AND rNum <= #{end}
		 ]]>
	</select>
	
	<update id="P_deletePayment" parameterType="java.util.Map">
		UPDATE payment SET del = #{del} WHERE num = #{num}
	</update>
	
	<select id="getPayment" resultType="com.spring.gm.vo.PaymentVO">
		SELECT * FROM payment WHERE groupid = #{groupid}
	</select>
	
	<select id="countPayInfo" resultType="com.spring.gm.vo.PaymentInfoVO">
		SELECT * FROM paymentinfo WHERE num =#{num}
	</select>
	
	<select id="getGroupInfo" resultType="com.spring.gm.vo.join_groupnameVO">
		SELECT g.*, m.name, r.r_name FROM groupinfo g, member m, grade r
		    WHERE m.id = g.id
		    AND m.rank = r.rank
		    AND g.groupid = #{groupid} 
		    ORDER BY g.rank_mem ASC
	</select>
	
	<select id="getMyOrder" resultType="int">
		SELECT rank FROM paymentinfo WHERE num = #{num} AND id=#{id}
	</select>
	
	<select id="countNextMem" resultType="int">
		SELECT COUNT(*) FROM paymentinfo WHERE num = #{num} AND rank >= #{order}
	</select>
	
	<select id="finalApproveCheck" resultType="int">
		SELECT COUNT(*) FROM paymentinfo WHERE num = #{num} AND agree = 0 AND id != #{id}
	</select>
	<select id="beforeApproveCheck" resultType="int">
		SELECT agree FROM paymentinfo WHERE num=#{num} and rank = #{order2}
	</select>
	<update id="updateApprove" parameterType="java.util.Map">
		UPDATE paymentinfo SET result=#{result}, reg_date=sysdate, content=#{content, jdbcType=VARCHAR}, agree = 1
			WHERE id=#{id} AND num=#{num}
	</update>
	<update id="updatePayment" parameterType="java.util.Map">
		UPDATE payment SET state=#{state}, deadline=sysdate WHERE num=#{num}
	</update>
	<select id="checkRefer" resultType="int">
		SELECT refer FROM paymentinfo WHERE id=#{id} AND num=#{num}
	</select>
</mapper>