<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.S_DAO" >

	<!-- <select id="getMailArticleCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM massagebox WHERE id = #{strId} del = 0
	</select>
	
	<select id="getMailArticleList" parameterType="java.util.Map" resultType="com.spring.gm.vo.MailBoxVO">
		<![CDATA[
			SELECT * FROM(SELECT mail_num, id, name, rank, del, status, rownum rNum FROM (SELECT * FROM massagebox WHERE id = #{strId} AND del = 0; ORDER BY mail_num ASC)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>	

	<select id="getMailBoxArticleCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM massage WHERE id = #{strId} del = 0
	</select>
	
	<select id="getMailBoxArticleList" parameterType="java.util.Map" resultType="com.spring.gm.vo.MailBoxVO">
		<![CDATA[
			SELECT * FROM(SELECT mail_num, id, name, rank, del, status, rownum rNum FROM (SELECT * FROM massage WHERE id = #{strId} AND del = 0; ORDER BY mail_num ASC)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select> -->	
	
	<insert id="sendMessage" parameterType="com.spring.gm.vo.MessageVO">
		INSERT INTO Message (num, message_num, sender, receiver, subject, content, state, sentDate, receiveDate,  del) 
		VALUES(seq_message.nextval, #{message_num}, #{sender}, #{receiver}, #{subject}, #{content}, #{state}, #{sentDate}, #{receiveDate}, #{del}) 
	</insert>

</mapper>