<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.gm.persistence.S_DAO" >

	<select id="getMessageArticleCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM message WHERE receiver=#{receiver} AND del=0 AND message_num=0
	</select>
	
	<select id="getMessageArticleList" parameterType="java.util.Map" resultType="com.spring.gm.vo.MessageVO">
		<![CDATA[
			SELECT * FROM(SELECT num, message_num, sender, receiver, subject, content, state, sentDate, receiveDate, del ,rownum rNum FROM (SELECT * FROM message WHERE receiver = #{receiver} AND del = 0 AND message_num = 0 ORDER BY message_num ASC)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>	
	
<!-- 	<update id="readCnt" parameterType="int">
		UPDATE Message SET readCnt = readCnt + 1 WHERE num = #{num}
	</update> -->

	<!-- <select id="getMailBoxArticleCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM massage WHERE id = #{strId} del = 0
	</select>
	
	<select id="getMailBoxArticleList" parameterType="java.util.Map" resultType="com.spring.gm.vo.MailBoxVO">
		<![CDATA[
			SELECT * FROM(SELECT mail_num, id, name, rank, del, status, rownum rNum FROM (SELECT * FROM massage WHERE id = #{strId} AND del = 0; ORDER BY mail_num ASC)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>--> 
	
	<insert id="sendMessage" parameterType="com.spring.gm.vo.MessageVO">
		INSERT INTO Message (num, message_num, sender, receiver, subject, content, state, sentDate, receiveDate,  del) 
		VALUES(seq_message.nextval, #{message_num}, #{sender}, #{receiver}, #{subject}, #{content}, #{state}, #{sentDate}, #{receiveDate}, #{del}) 
	</insert>

</mapper>